:host {
  display: block;
}

.circle {
  margin: 3px;
  height: 25px;
  width: 25px;
  background-color: black;
  border: 1px solid #8c8c8c;
  border-radius: 50%;
  background-size: cover;
  display: inline-block;
}
