:host {
  display: block;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: var(--klevu-spacing-normal);
}

.sidebar {
  width: 300px;
}

main {
  width: 100%;
}

.header {
  margin-bottom: var(--klevu-spacing-normal);
}

.footer {
  margin-top: var(--klevu-spacing-normal);
  width: 100%;
}

@media (max-width: 400px) {
  .container {
    flex-direction: column;
    gap: 0;
  }

  .sidebar {
    width: 100%;
  }
}
