{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "jest": true,
    "commonjs": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "arrow-parens": ["error", "always"],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 0,
        "maxBOF": 0
      }
    ],
    "object-curly-newline": [
      "error",
      {
        "consistent": true
      }
    ],
    "no-constant-condition": [
      "error",
      {
        "checkLoops": false
      }
    ],
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "no-continue": "off",
    "no-restricted-imports": "off",
    "prefer-destructuring": [
      "error",
      {
        "VariableDeclarator": {
          "object": true
        }
      }
    ],
    "max-len": [
      "error",
      {
        "code": 20000
      }
    ],
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/no-unused-prop-types": "off",
    "react/jsx-curly-newline": "off",
    "react/require-default-props": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "react/no-unstable-nested-components": [
      "error",
      {
        "allowAsProps": true
      }
    ],
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "assert": "either",
        "depth": 3
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "react/jsx-wrap-multilines": [
      "error",
      {
        "assignment": "parens-new-line"
      }
    ],
    "jsx-a11y/anchor-has-content": [0],
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "react/forbid-prop-types": "off",
    "no-restricted-syntax": "off",
    "no-return-await": "off",
    "no-use-before-define": "off",
    "no-template-curly-in-string": "off",
    "react/jsx-indent": "off",
    "react/function-component-definition": ["off"],
    "jsx-a11y/click-events-have-key-events": ["off"],
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
