:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--klevu-spacing-02) var(--klevu-spacing-02);
}

main {
  flex: 1;
  overflow: hidden;
}

main slot {
  display: flex;
  gap: var(--klevu-spacing-04);
  flex-direction: column;
  padding: var(--klevu-spacing-02) var(--klevu-spacing-06) var(--klevu-spacing-02) 0;
}

main klevu-util-scrollbars {
  height: 100%;
}

footer {
  margin-top: auto;
  padding-top: var(--klevu-spacing-04);
  border-top: 1px solid var(--klevu-color-neutral-3);
}

footer .inputs {
  display: flex;
  gap: var(--klevu-spacing-04);
}

footer klevu-textfield {
  width: 100%;
}

klevu-popup div[slot="content"] {
  padding: var(--klevu-spacing-04);
}
