@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

:root {
  --border-color: #f4f4f4;
  --klevu-blue: #0a4563;
  --klevu-green: #97c73e;
  --klevu-green-light: #f6ffe6;
  --klevu-gray: #797a7c;
  --font-family: "Roboto", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--klevu-green);
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: 100;
}
