:host {
  display: flex;
  padding: var(--klevu-spacing-03) var(--klevu-spacing-05);
}

.text {
  display: flex;
  flex-direction: column;
}

.icon {
  font-size: 20px;
  margin-right: var(--klevu-spacing-03);
}

.image {
  max-width: 48px;
  margin-right: var(--klevu-spacing-03);
  border-radius: var(--klevu-border-radius-xxl);
}
