:host {
  display: block;
}

.container {
  display: block;
  padding: var(--klevu-spacing-02) var(--klevu-spacing-04);
  border-radius: 0.3rem;
  border: 1px solid var(--klevu-color-neutral-7);
}

.info {
  margin: var(--klevu-spacing-04) 0;
  display: flex;
  gap: var(--klevu-spacing-04);
}
klevu-accordion {
  border: 0;
  padding: 0;
}

label {
  background-color: var(--klevu-color-neutral-7);
  color: white;
  font-size: var(--klevu-body-xs-size);
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  width: max-content;
  gap: var(--klevu-spacing-02);
}

klevu-loading-indicator {
  --klevu-loading-indicator-color: var(--klevu-color-neutral-2);
}
