:host {
  display: block;
}

.drawer {
  position: fixed;
  top: 0;
  height: 100vh;
  max-width: var(--klevu-drawer-max-width, max-content);
  z-index: 1000;
  background: #fff;
  transition: left 0.4s, right 0.4s;
}

.drawer.left {
  left: -100%;
  border-right: 1px solid var(--klevu-color-border);
  padding-right: var(--klevu-spacing-normal);
}

.drawer.right {
  right: -100%;
  border-left: 1px solid var(--klevu-color-border);
  padding-left: var(--klevu-spacing-normal);
}

.drawer.left.show {
  left: 0;
}

.drawer.right.show {
  right: 0;
}

.background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--klevu-drawer-background-color, rgba(0, 0, 0, 0.2));
  z-index: 999;
}

.background.show {
  display: block;
}

.innercontainer {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.insertypadding {
  padding: 0 var(--klevu-drawer-ypadding, var(--klevu-spacing-normal));
}
