:host {
  /**
   * @prop --klevu-slides-item-width inherit: Force a width for each item in the slides
   */
  display: block;
  --item-width: var(--klevu-slides-item-width, inherit);
}

.slides {
  display: flex;
  gap: var(--klevu-spacing-05);
  flex-shrink: 0;
}

.slides slot::slotted(*) {
  flex-shrink: 0;
  width: var(--item-width);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div klevu-button {
  margin-left: var(--klevu-spacing-04);
}
