.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.innercontainer {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 60px);
}

.container aside {
  min-width: 250px;
  flex-shrink: 0;
  padding: 16px;
  overflow-y: scroll;
  border-right: 2px solid var(--klevu-green-light);
}

.container main {
  width: 100%;
  padding: 16px 32px;
  overflow-y: scroll;
}
