:host {
  display: block;
  /*container-type: inline-size;*/
}

.content {
  display: flex;
}

.content aside {
  width: 200px;
  padding-right: var(--klevu-spacing-normal);
  border-right: 1px solid var(--klevu-color-border);
  margin-right: var(--klevu-spacing-normal);
}

klevu-suggestions-list {
  margin-bottom: var(--klevu-spacing-normal);
}

.content section {
  max-width: 940px;
}

.desktop {
  display: initial;
}

.mobile {
  display: none;
}

@media (max-width: 600px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: initial;
  }

  klevu-product-grid.mobile {
    display: flex;
  }

  .content {
    flex-direction: column;
    left: 0;
    width: 100vw;
  }

  .content aside {
    width: 100%;
    border: none;
  }
}
