:host {
  display: block;
  /*container-type: inline-size;*/
}

.content {
  display: flex;
}

.content aside {
  width: 240px;
  flex-shrink: 0;
  padding-right: var(--klevu-spacing-04);
  border-right: 1px solid var(--klevu-color-border);
  margin-right: var(--klevu-spacing-04);
}

klevu-suggestions-list,
klevu-popular-searches,
klevu-cms-list {
  margin-bottom: var(--klevu-spacing-05);
}

klevu-product-grid.desktop {
  width: 600px;
}

.content section {
  max-width: 600px;
  min-width: 300px;
}

.desktop {
  display: initial;
}

.mobile {
  display: none;
}

.resultheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--klevu-spacing-05);
}

klevu-pagination {
  margin-top: var(--klevu-spacing-05);
}

.tabrow {
  border-bottom: 1px solid var(--klevu-color-neutral-5);
}

.tabrow klevu-tab {
  position: relative;
  bottom: -1px;
}

@media (max-width: 600px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: initial;
  }

  klevu-product-grid.mobile {
    display: flex;
  }

  .content {
    flex-direction: column;
    left: 0;
    width: calc(100vw - 60px);
  }

  .content aside {
    width: 100%;
    border: none;
  }
}
