:root {
  font-family: Poppins, sans-serif;
  --klevu-h1-size: 1.5rem;
  --klevu-h1-weight: normal;
  --klevu-h1-color: rgb(43, 85, 110);
  --klevu-h2-size: 1.2rem;
  --klevu-h2-weight: normal;
  --klevu-h2-color: rgb(43, 85, 110);
  --klevu-h3-size: 1.1rem;
  --klevu-h3-weight: light;
  --klevu-h3-color: rgb(43, 85, 110);
  --klevu-color-primary: rgb(151, 199, 62);
  --klevu-color-primary-border: rgb(97, 136, 25);
  --klevu-color-primary-text: #ffffff;
  --klevu-color-border: #e0e0e0;
  --klevu-color-dim-background: #fafafa;
  --klevu-color-dim-text: #666666;
  --klevu-color-shadow: rgba(168, 168, 168, 0.2);
  --klevu-rounded-corners: 4px;
  --klevu-spacing-small: 4px;
  --klevu-spacing-normal: 8px;
  --klevu-spacing-large: 12px;
  --klevu-product-image-aspect-ratio: 1.3 / 1;
  --klevu-product-width: 288px;
  --klevu-product-small-width: 200px;
  --klevu-product-image-fill: contain; /* cover, contain */
}

@media (max-width: 600px) {
  :root {
    --klevu-product-width: calc(1 / 2.3 * 100vw);
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

/* copy some styles from Klevu variables to website styles */
h1 {
  color: var(--klevu-h1-color);
  font-size: var(--klevu-h1-size);
  font-weight: var(--klevu-h1-weight);
}

h2 {
  color: var(--klevu-h2-color);
  font-size: var(--klevu-h2-size);
  font-weight: var(--klevu-h2-weight);
}

h3 {
  color: var(--klevu-h3-color);
  font-size: var(--klevu-h3-size);
  font-weight: var(--klevu-h3-weight);
}

header {
  padding: var(--klevu-spacing-large);
  box-shadow: 0 2px 5px var(--klevu-color-shadow);
}

header .container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 var(--klevu-spacing-large);
  display: flex;
  align-items: center;
}

header img {
  padding-right: 12px;
  height: 16px;
}

header klevu-quicksearch {
  margin-left: auto;
  padding: 0 6px;
  width: 600px;
}

header ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 6px;
}

header ul a {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 6px;
  border: 1px solid var(--klevu-color-primary);
  border-radius: var(--klevu-rounded-corners);
  white-space: nowrap;
}

header ul a:hover {
  box-shadow: 3px 3px 6px var(--klevu-color-shadow);
}

main {
  margin: var(--klevu-spacing-large) auto;
  max-width: 1100px;
  padding: 0 var(--klevu-spacing-large);
}

@media (max-width: 600px) {
  header {
    position: static;
  }

  header .container {
    flex-direction: column;
    align-items: unset;
    padding: 0;
  }

  header .container > * {
    margin: 6px 0;
    width: 100%;
  }
}

/* product page styles */

.productInfo {
  display: flex;
  gap: 16px;
}
