:host {
  display: flex;
  gap: var(--klevu-spacing-04);
  justify-content: center;
  flex-wrap: wrap;
}

span {
  display: block;
  padding: var(--klevu-spacing-04);
  background: var(--klevu-pagination-background-color, var(--klevu-color-dim-background));
  color: var(--klevu-pagination-text-color);
  border-radius: var(--klevu-rounded-corners);
  cursor: pointer;
}

span.current {
  font-weight: bold;
  cursor: inherit;
  background: var(--klevu-pagination-selected-background-color, var(--klevu-color-primary));
  color: var(--klevu-pagination-selected-text-color, var(--klevu-color-primary-text));
}

span.disabled {
  color: var(--klevu-color-dim-text);
  cursor: inherit;
}
