:host {
  display: block;
  --klevu-slides-item-width: 200px;
}

klevu-chat-layout {
  height: 100%;
}

.filteractions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--klevu-spacing-03);
}

.menu {
  display: flex;
  flex-direction: column;
  gap: var(--klevu-spacing-03);
}

.productactions {
  display: flex;
  flex-direction: column;
  gap: var(--klevu-spacing-02);
}

.genericactions {
  margin: var(--klevu-spacing-03) 0;
  display: flex;
  flex-direction: row;
  gap: var(--klevu-spacing-03);
  flex-wrap: wrap;
  justify-content: center;
}

.genericactions klevu-button {
  --klevu-button-padding: 5px;
}
