.container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--klevu-product-grid-spacing, var(--klevu-spacing-05));
  align-items: stretch;
  justify-content: space-between;
}

.gridcontainer {
  display: grid;
  grid-gap: var(--klevu-product-grid-spacing, var(--klevu-spacing-05));
  /*grid-template-columns: repeat(auto-fill, minmax(var(--klevu-product-width, 300px), 1fr));*/
}
