.klevu-style-pqa {
  --klevu-color-primary: #d8edfd;

  --klevu-chat-bubble-background: #d8edfd;
  --klevu-chat-bubble-text-color: #000;

  --klevu-chat-bubble-background-remote: var(--klevu-color-neutral-2);
  --klevu-chat-bubble-text-color-remote: #000;

  --klevu-color-positive: #1db046;
  --klevu-color-negative: #b86315;

  --klevu-elevation-1: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.klevu-style-pqa klevu-product-query-popup::part(product-query-footer) {
  --klevu-color-primary: #d8edfd;
  --klevu-button-text-color: #000;
}

klevu-product-query,
klevu-product-query-popup {
  --klevu-color-primary: #428bca;
  --klevu-color-primary: #428bca;
  --klevu-color-primary-darker: #407db3;
  --klevu-product-image-fill: contain;
  --klevu-product-border: 1px solid #ccc;
  --klevu-product-border-radius: 4px;
  --klevu-button-cursor-hover: pointer;
  --klevu-product-name-lines: 1;
  --klevu-product-container-cursor: pointer;
}

/* klevu-product-query::part(product-name) {
  --klevu-typography-font-size: 24px;
  color: red;
} */
