:host {
  display: block;
}

select {
  appearance: none;
  padding: var(--klevu-spacing-04) var(--klevu-spacing-06);
  width: 100%;
  min-width: 80px;
  border: none;
  border-radius: var(--klevu-border-radius-m);
}

.select {
  position: relative;
  display: flex;
  border: 1px solid var(--klevu-color-neutral-04);
  border-radius: var(--klevu-border-radius-m);
}

select:focus {
  outline: 0;
}

.select:has(select:active, select:focus) {
  border: 1px solid var(--klevu-color-primary);
}

.triangle {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  font-size: 20px;
  height: 24px;
  width: 24px;
}

.select.disabled {
  cursor: not-allowed;
}

.select.disabled select {
  cursor: not-allowed;
}

.select.disabled .triangle {
  background-color: var(--klevu-color-border);
}
