:host {
  display: inline-block;
}

.image {
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center center;
}

.container {
  padding: var(--spacing);
  border: 1px solid (--color-border, #ccc)
}
