:host {
  display: inline-block;
  --loading-animation-time: 5s;
}

:host a {
  display: block;
  text-decoration: none;
  color: inherit;
  height: 100%;
  width: 100%;
}

.container {
  display: block;
  padding: var(--klevu-spacing-normal);
  border: 1px solid var(--klevu-color-border);
  border-radius: var(--klevu-rounded-corners);
  box-sizing: border-box;
  height: 100%;
}

.container.default {
  display: flex;
  flex-direction: column;
  max-width: var(--klevu-product-width, 300px);
}

.container.default.fixedWidth {
  max-width: auto;
  width: var(--klevu-product-width, 300px);
}

@media (max-width: 500px) {
  .container.default.fixedWidth {
    width: auto;
  }
}

.container.small {
  display: flex;
  flex-direction: column;
  max-width: var(--klevu-product-small-width, 300px);
}

.container.small.fixedWidth {
  max-width: auto;
  width: var(--klevu-product-small-width, 300px);
}

.default .image {
  width: 100%;
  aspect-ratio: var(--klevu-product-image-aspect-ratio, 1);
  background-size: var(--klevu-product-image-fill, cover);
  background-position: center center;
  background-repeat: no-repeat;
}

.small .image {
  width: 100%;
  aspect-ratio: var(--klevu-product-image-aspect-ratio, 1);
  background-size: var(--klevu-product-image-fill, cover);
  background-position: center center;
  background-repeat: no-repeat;
}

.container.line a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.line .info {
  display: flex;
  flex-direction: column;
  margin-left: var(--klevu-spacing-normal);
}

.line .info p {
  display: block;
  margin: 0;
  text-align: right;
}

.line .info .price {
  margin-top: auto;
}

.container.line .image {
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
  background-size: var(--klevu-product-image-fill, cover);
  background-position: center center;
}

@media (max-width: 400px) {
  .container.line .image {
    width: 80px;
    height: 80px;
  }
}

.brandname {
  margin-bottom: 0;
}

.productname {
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.2;
  overflow: hidden;
  height: calc(var(--klevu-h3-size) * 1.2 * 2);
  text-align: left;
  font-size: var(--klevu-h3-size);
  font-weight: var(--klevu-h3-weight);
  color: var(--klevu-h3-color);
}

.brandname + .productname {
  margin-top: 0;
}

.small .productname {
  font-size: inherit;
}

.description {
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 1.2em;
}

.container.small .description {
  display: none;
}

.price {
  margin-top: auto;
  text-align: left;
  font-size: var(--klevu-h2-size);
  font-weight: var(--klevu-h2-weight);
}

.small .price {
  font-size: inherit;
  font-weight: inherit;
}

.container.line .loading {
  display: flex;
  flex-direction: row;
}

.loading.image {
  background: linear-gradient(-75deg, #a1a1a1 0%, #eaeaea 50%, #f8f8f8 100%);
  background-size: 400% 400%;
  animation: loadinggradient 5s linear infinite;
}

.loading.content div {
  width: 100%;
  height: 32px;
  margin-top: 6px;
  background: linear-gradient(-75deg, #a1a1a1 0%, #eaeaea 50%, #f8f8f8 100%);
  background-size: 400% 400%;
  animation: loadinggradient var(--loading-animation-time) linear infinite;
}

.loading.content div:nth-child(1) {
  animation-delay: calc(var(--loading-animation-time) / 5);
}

.loading.content div:nth-child(2) {
  animation-delay: calc(var(--loading-animation-time) / 4);
}

.loading.content div:nth-child(3) {
  animation-delay: calc(var(--loading-animation-time) / 3);
}

.swatches {
  display: none;
  margin: var(--klevu-spacing-small) 0;
}

.swatches > div {
  height: 32px;
  width: 32px;
  background-size: cover;
}

.container.default .swatches {
  display: flex;
  gap: var(--klevu-spacing-small);
}

@keyframes loadinggradient {
  0% {
    background-position: 0% 50%;
  }
  80% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
