:host {
  display: inline-block;
  --loading-animation-time: 5s;
  --width: var(--klevu-product-width, inherit);
  --small-width: var(--klevu-product-small-width, 150px);
  --image-aspect-ratio: var(--klevu-product-image-aspect-ratio, 1);
  --image-fill: var(--klevu-product-image-fill, cover);
}

:host(.line) {
  display: block;
}

:host a {
  display: block;
  text-decoration: none;
  color: inherit;
  height: 100%;
  width: 100%;
}

.container {
  display: block;
  padding: var(--klevu-spacing-04);
  border: 1px solid var(--klevu-color-border);
  border-radius: var(--klevu-border-radius-s);
  box-sizing: border-box;
  height: 100%;
}

.container.default {
  display: flex;
  flex-direction: column;
  max-width: var(--width);
}

.container.default.fixedWidth {
  max-width: auto;
  width: var(--width);
}

.container.small {
  display: flex;
  flex-direction: column;
  max-width: var(--small-width);
}

.container.small.fixedWidth {
  max-width: auto;
  width: var(--small-width);
}

.default .image {
  width: 100%;
  aspect-ratio: var(--image-aspect-ratio);
  background-size: var(--image-fill);
  background-position: center center;
  background-repeat: no-repeat;
}

.small .image {
  width: 100%;
  aspect-ratio: var(--image-aspect-ratio);
  background-size: var(--image-fill);
  background-position: center center;
  background-repeat: no-repeat;
}

.container.line a {
  display: flex;
  flex-direction: row;
}

.line .info {
  display: flex;
  flex-direction: column;
  margin-left: var(--klevu-spacing-04);
}

.line .info p {
  display: block;
  margin: 0;
  text-align: right;
}

.line .info .price {
  margin-top: auto;
}

.container.line .image {
  width: 100px;
  height: 100%;
  aspect-ratio: 1;
  background-size: var(--image-fill);
  background-position: center center;
  flex-shrink: 0;
}

@media (max-width: 400px) {
  .container.line .image {
    width: 80px;
  }
}

.brandname {
  margin-bottom: 0;
}

.productname {
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: calc(var(--klevu-body-s-height) * var(--klevu-body-s-line-height) * 2);
  text-align: left;
}

.brandname + .productname {
  margin-top: 0;
}

.small .productname {
  font-size: inherit;
}

.description {
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 3.5em;
}

.container.small .description {
  display: none;
}

.price {
  margin-top: auto;
  text-align: left;
  font-size: var(--klevu-h2-size);
  font-weight: var(--klevu-h2-weight);
}

.small .price {
  font-size: inherit;
  font-weight: inherit;
}

.container.line .loading {
  display: flex;
  flex-direction: row;
}

.loading.image {
  background: linear-gradient(-75deg, #a1a1a1 0%, #eaeaea 50%, #f8f8f8 100%);
  background-size: 400% 400%;
  animation: loadinggradient 5s linear infinite;
}

.loading.content div {
  width: 100%;
  height: 32px;
  margin-bottom: 6px;
  background: linear-gradient(-75deg, #a1a1a1 0%, #eaeaea 50%, #f8f8f8 100%);
  background-size: 400% 400%;
  animation: loadinggradient var(--loading-animation-time) linear infinite;
}

:host(.line.loading) .container {
  display: flex;
}

:host(.line.loading) .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 var(--klevu-spacing-04);
}

.loading.content div:nth-child(1) {
  animation-delay: calc(var(--loading-animation-time) / 5);
}

.loading.content div:nth-child(2) {
  animation-delay: calc(var(--loading-animation-time) / 4);
}

.loading.content div:nth-child(3) {
  animation-delay: calc(var(--loading-animation-time) / 3);
}

.swatches {
  display: none;
  margin: var(--klevu-spacing-02) 0;
}

.swatches > div {
  height: 32px;
  width: 32px;
  background-size: cover;
}

.container.default .swatches {
  display: flex;
  gap: var(--klevu-spacing-02);
}

.image.no-image {
  color: var(--klevu-color-neutral-5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
}

klevu-button.addToCart {
  margin-top: var(--klevu-spacing-04);
}

.vatcaption {
  display: block;
  --klevu-typography-color: var(--klevu-color-neutral-6);
}
.ooscaption {
  display: block;
  --klevu-typography-color: var(--klevu-color-oos-caption, #ff0000);
}

/* Hover image */
.image .hover {
  opacity: 0;
  height: 100%;
  width: 100%;
  aspect-ratio: var(--image-aspect-ratio);
  background-size: var(--image-fill);
  background-position: center center;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease-in-out;
}

.image:hover .hover {
  opacity: 1;
}

@keyframes loadinggradient {
  0% {
    background-position: 0% 50%;
  }
  80% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.ratings {
  display: flex;
  gap: var(--klevu-spacing-small, 4px);
  margin: var(--klevu-spacing-small, 4px) 0;
}
