:host {
  display: inline-block;
}

button {
  background: var(--klevu-button-background-color, var(--klevu-color-primary));
  padding: var(--klevu-button-padding, var(--klevu-spacing-normal));
  border: 1px solid var(--klevu-button-border, var(--klevu-color-primary-border));
  border-radius: var(--klevu-rounded-corners);
  color: var(--klevu-button-text-color, var(--klevu-color-primary-text));
  transition: transform 100ms;
}

button:focus {
  outline: 1px solid var(--klevu-color-primary-border);
}

button:disabled {
  background-color: var(--klevu-color-dim-background);
  color: var(--klevu-color-border);
  border: 1px solid var(--klevu-color-border);
  cursor: not-allowed;
}

button:active:not(:disabled) {
  transform: translateY(1px);
}

button.secondary {
  background: var(--klevu-button-background-color, var(--klevu-color-secondary));
  padding: var(--klevu-button-padding, var(--klevu-spacing-normal));
  border: 1px solid var(--klevu-button-border, var(--klevu-color-secondary-border));
}

button.fullwidth {
  display: block;
  width: 100%;
}
