:host {
  --button-padding: calc(var(--klevu-button-padding, var(--klevu-spacing-03)) + 2px);

  display: inline-block;
}

button {
  position: relative;
  background: var(--klevu-button-background-color, var(--klevu-color-primary));
  padding: var(--button-padding) calc(var(--button-padding) * 2);
  border-radius: var(--klevu-border-radius-m);
  box-sizing: border-box;
  transition: transform 100ms;
  border: 0;
}

button klevu-typography {
  --klevu-typography-color: var(--klevu-button-text-color, #ffffff);
}

button:hover {
  background-color: var(--klevu-button-background-hover, var(--klevu-color-primary-darker));
}

button:focus:after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border: 2px solid var(--klevu-color-primary);
  border-radius: calc(var(--klevu-border-radius-m) + 2px);
}

button:disabled {
  opacity: var(--klevu-opacity-disabled);
}

button:active:not(:disabled) {
  transform: translateY(1px);
}

button.secondary {
  background: var(--klevu-color-neutral-02);
  color: var(--klevu-color-neutral-08);
}

button.secondary:hover {
  background: var(--klevu-color-neutral-03);
}

button.fullwidth {
  display: block;
  width: 100%;
}
