:host {
  display: block;
}

.heading-h1 {
  font-size: var(--klevu-h1-size);
  font-weight: var(--klevu-h1-weight);
}

.heading-h2 {
  font-size: var(--klevu-h2-size);
  font-weight: var(--klevu-h2-weight);
}

.heading-h3 {
  font-size: var(--klevu-h3-size);
  font-weight: var(--klevu-h3-weight);
}
