:host {
  display: block;
}

.heading-h1,
.heading-h2,
.heading-h3,
.heading-h4 {
  margin: 0;
}

.heading-h1 {
  font-size: var(--klevu-h1-size);
  font-weight: var(--klevu-h1-weight);
  line-height: var(--klevu-h1-line-height);
  color: var(--klevu-color-neutral-08);
}

.heading-h2 {
  font-size: var(--klevu-h2-size);
  font-weight: var(--klevu-h2-weight);
  line-height: var(--klevu-h2-line-height);
  color: var(--klevu-color-neutral-08);
}

.heading-h3 {
  font-size: var(--klevu-h3-size);
  font-weight: var(--klevu-h3-weight);
  line-height: var(--klevu-h3-line-height);
  color: var(--klevu-color-neutral-08);
}

.heading-h4 {
  font-size: var(--klevu-h4-size);
  font-weight: var(--klevu-h4-weight);
  line-height: var(--klevu-h4-line-height);
  color: var(--klevu-color-neutral-08);
}
