:host {
  display: flex;
  gap: var(--klevu-spacing-large);
}

:host klevu-facet-list {
  flex-shrink: 0;
}

.loadmorebuttoncontainer {
  display: flex;
  justify-content: center;
  margin: var(--klevu-spacing-large);
}

.mobileheader {
  display: none;
  justify-content: space-between;
  margin: var(--klevu-spacing-normal) 0;
}

.mobileheader klevu-facet-list {
  padding: var(--klevu-spacing-normal);
}

.desktop {
  display: block;
}

.desktop.title {
  margin: var(--klevu-spacing-large) 0;
}

@media (max-width: 600px) {
  :host {
    display: block;
    gap: 0;
  }

  .mobileheader {
    display: flex;
  }

  .desktop {
    display: none;
  }
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
