:host {
  display: block;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

klevu-chat-messages {
  height: 500px;
  padding-right: 16px;
  max-height: 50vh;
}

div.content {
  display: flex;
  flex-direction: column;
}

div[part="product-query-footer"] .inputs {
  display: flex;
  gap: var(--klevu-spacing-04);
}

div[part="product-query-footer"] .sendmessage {
  display: flex;
  gap: var(--klevu-spacing-04);
  padding-top: var(--klevu-spacing-04);
}

div[part="product-query-footer"] .sendmessage klevu-textfield {
  width: 100%;
}

.pqa_feedback {
  text-align: center;
}

.pqa_feedback > * {
  padding-bottom: var(--klevu-spacing-04);
}

.pqa_feedback span[part="material-icon"] {
  font-size: 24px;
  padding: var(--klevu-spacing-04);
  cursor: pointer;
  border-radius: 50%;
}

.pqa_feedback span[part="material-icon"]:hover {
  background-color: var(--klevu-color-neutral-2);
}

.pqa_feedback span[part="material-icon"]:nth-child(1) {
  color: var(--klevu-color-accent-1);
}

.pqa_feedback span[part="material-icon"]:nth-child(2) {
  color: var(--klevu-color-accent-3);
}

klevu-typography.fineprint {
  --klevu-body-xs-size: 10px;
  --klevu-body-xs-line-height: 1em;
  padding-bottom: var(--klevu-spacing-04);
  margin-bottom: var(--klevu-spacing-04);
  border-bottom: 1px solid var(--klevu-color-neutral-4);
}

.loading-sorry {
  display: block;
  --klevu-body-xs-size: 10px;
}
