:host {
  display: block;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
}

label {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--klevu-accordion-background);
}

input:checked ~ .content {
  max-height: var(--klevu-accordion-content-height, 600px);
}

label span {
  color: var(--klevu-color-neutral-08);
  transition: transform var(--klevu-animation-duration-fast) var(--klevu-animation-timing-function);
}

input:checked + label span {
  transform: rotate(-90deg);
}
