:host {
  display: inline-block;
  padding: var(--klevu-spacing-02) var(--klevu-spacing-05);
  background: var(--klevu-badge-background);
  border-radius: var(--klevu-border-radius-xxl, var(--klevu-badge-border-radius));
  align-items: center;
}

:host(.closable) {
  display: inline-flex;
  cursor: pointer;
  user-select: none;
}

klevu-icon {
  position: relative;
  top: 1px;
  left: -4px;
  font-size: 0.7em;
  margin-right: var(--klevu-spacing-01);
}

klevu-typography {
  line-height: 1;
}
