html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  margin: 0;
  padding: 12px 36px;
  background-color: var(--klevu-color-primary);
  display: flex;
  align-items: center;
}

nav h1 {
  color: white;
}

nav klevu-quicksearch {
  width: 400px;
  margin-left: auto;
}

section {
  max-width: 1140px;
  margin: 12px auto;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 16px;
}

nav ul a {
  color: white;
  text-decoration: none;
}

::part(product-base) {
  box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.1);
}
