:host {
  --spacing: var(--klevu-popup-spacing, 0);
}

.originContainer {
  display: inline-block;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: max-content;
  box-sizing: border-box;
  padding: var(--spacing);
  border-radius: var(--klevu-border-radius-s);
  transition: opacity 0.4s, visibility 0.4s;
  z-index: 1000;
  background: white;
}

.elevation-1 {
  box-shadow: var(--klevu-elevation-1);
}

.elevation-2 {
  box-shadow: var(--klevu-elevation-2);
}

.elevation-3 {
  box-shadow: var(--klevu-elevation-3);
}

.popup.left {
  left: 0;
}

.popup.right {
  right: 0;
}

.popup.fullwidth {
  min-width: 100%;
}

.background {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.06);
  inset: 0;
}

dialog {
  position: fixed;
  border: 0;
  z-index: 1000;
}
