:host {
  display: block;
}

.originContainer {
  display: inline-block;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: max-content;
  visibility: hidden;
  box-sizing: border-box;
  box-shadow: 0px 1px 5px var(--klevu-color-shadow, rgba(0, 0, 0, 0.2));
  padding: var(--klevu-spacing-normal);
  border-radius: var(--klevu-rounded-corners);
  transition: opacity 0.4s, visibility 0.4s;
  opacity: 0;
  z-index: 1000;
  background: white;
}

.popup.left {
  left: 0;
}

.popup.right {
  right: 0;
}

.popup.show {
  visibility: visible;
  opacity: 1;
}

.popup.fullwidth {
  min-width: 100%;
}
