:host {
  display: flex;
  flex-direction: column;
  gap: var(--klevu-spacing-04);
}

.message-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.feedback {
  display: flex;
}

.feedback klevu-icon {
  font-size: 22px;
  padding: 6px;
  cursor: pointer;
  position: relative;
}

.feedback klevu-icon:first-child {
  color: var(--klevu-color-positive);
}

.feedback klevu-icon:last-child {
  color: var(--klevu-color-negative);
}

.end-spacer {
  height: var(--klevu-spacing-04);
  width: 100%;
}

.filteractions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--klevu-spacing-02);
}

.productactions {
  display: flex;
  flex-direction: column;
  gap: var(--klevu-spacing-02);
}
