:host {
  display: block;
}

:host li {
  display: flex;
  align-items: center;
  margin-bottom: var(--klevu-spacing-02);
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.95em;
}

.count {
  display: inline-block;
  margin-left: auto;
  color: var(--klevu-color-neutral-06);
  font-size: var(--klevu-body-xs-size);
}

klevu-checkbox {
  width: 100%;
}
